<div class="container">
  <ng-container
    *ngFor="
      let item of items
        | paginate
          : {
              itemsPerPage: 20,
              currentPage: page,
              totalItems: 1000
            }
    "
  >
    <div
      [routerLink]="['/tv', item.id]"
      class="movie_card"
      style="background-image: url(https://image.tmdb.org/t/p/w300{{
        item.poster_path
      }});"
    ></div>
  </ng-container>
</div>

<pagination-controls
  class="my-pagination"
  [responsive]="true"
  (pageChange)="getPage((page = $event))"
></pagination-controls>
