<div class="container">
  <ng-container
    *ngIf="{
      tmdbDetails: tmdbdd$ | async,
      omdbDetails: omdbdd$ | async
    } as details"
  >
    <div class="movie_card">
      <div class="info_section">
        <div class="movie_header">
          <div *ngIf="details.tmdbDetails?.poster_path !== null">
            <img
              class="locandina"
              src="https://image.tmdb.org/t/p/original{{
                details.tmdbDetails?.poster_path
              }}"
            />
          </div>

          <h1>{{ details.tmdbDetails?.name }}</h1>
          <div *ngIf="details.tmdbDetails?.first_air_date; else omdb_released">
            <h4>
              {{ details.tmdbDetails?.first_air_date | date: "yyyy" }} -
              {{ details.tmdbDetails?.last_air_date | date: "yyyy" }}
            </h4>
          </div>
          <ng-template #omdb_released
            ><h4>
              <!-- {{ omdbDetails.Released | date: "yyyy" }}
              {{ omdbDetails.Director }}-->
            </h4></ng-template
          >

          <p *ngFor="let genre of details.tmdbDetails?.genres" class="minutes">
            {{ genre.name }}
          </p>
        </div>
        <!--<div class="movie_desc">
          <div *ngIf="details.tmdbDetails?.overview; else omdb_overview">
            <p class="text">
              {{ details.tmdbDetails?.overview }}
            </p>
          </div>
          <ng-template #omdb_overview>
            <p title="Nem található magyar leírás" class="text">
              {{ details.omdbDetails?.Plot }}
            </p></ng-template
          >
        </div>
      -->
        <div class="movie_social">
          <div *ngIf="details.omdbDetails?.Ratings !== []">
            <ul>
              <li *ngFor="let rating of details.omdbDetails?.Ratings">
                {{ rating.Source }} - {{ rating.Value }}
              </li>
            </ul>
          </div>
        </div>
        <div class="movie_social">
          <ul>
            <li><i class="material-icons">share</i></li>
            <li><i class="material-icons"></i></li>
            <li><i class="material-icons">chat_bubble</i></li>
          </ul>
        </div>
      </div>
      <div
        *ngIf="details.tmdbDetails?.backdrop_path != null"
        class="blur_back"
        [ngStyle]="{
          'background-image':
            'url(' + getBackdropImage(details.tmdbDetails?.backdrop_path) + ')'
        }"
      ></div>
    </div>

    <mat-tab-group mat-stretch-tabs class="demo-tab-group">
      <mat-tab label="További adatok">
        <ng-template matTabContent>
          <p>Évadok:</p>
          <div class="profil-to-center">
            <ng-container *ngFor="let c of details.tmdbDetails?.seasons">
              <div>{{ c.name }} -- {{ c.episode_count }}</div>
            </ng-container>
          </div>
          <div *ngIf="details.tmdbDetails?.overview; else omdb_overview">
            <p class="text">
              Leírás: {{ details.tmdbDetails?.popularity }} ---
              {{ details.tmdbDetails?.overview }}
            </p>
          </div>
          <ng-template #omdb_overview>
            <p title="Nem található magyar leírás" class="text">
              Leírás: {{ details.omdbDetails?.Plot }}
            </p></ng-template
          >
          <p>Eredeti cím: {{ details.tmdbDetails?.original_name }}</p>
          <p>Eredeti Nyelv: {{ details.tmdbDetails?.original_language }}</p>
          <p>Időtartam:</p>
          <div *ngFor="let a of details.tmdbDetails?.episode_run_time">
            {{ a }}
          </div>
          <p>Status: {{ details.tmdbDetails?.status }}</p>
        </ng-template>
        <!-- <div class="demo-tab-content">
          <p>{{ tmdbDetails | json }}</p>
          <p>{{ omdbDetails | json }}</p>
        </div>-->
      </mat-tab>

      <!--     <mat-tab label="Média">
        <ng-template matTabContent>
          <div *ngFor="let res of details.tmdbDetails?.videos?.results">
            {{ res.name }} -- {{ res.site }} -- {{ res.type }}
          </div>
          <div *ngFor="let imgbd of details.tmdbDetails?.images?.backdrops">
            {{ imgbd.file_path }} -- {{ imgbd.height }} --
            {{ imgbd.width }}
          </div>
        </ng-template>
      </mat-tab>
      <ng-container *ngIf="details.tmdbDetails?.credits?.cast != undefined"
        >qq</ng-container
      >
      <mat-tab label="Stáblista">
        <ng-template matTabContent>
          <div *ngFor="let c of details.tmdbDetails?.credits?.cast">
            <p>
              {{ c.name }} -- {{ c.profile_path }} -- {{ c.character }} --
              {{ c.order }}
            </p>
          </div>
          <div *ngFor="let cr of details.tmdbDetails?.credits?.crew">
            <p>{{ cr.name }} -- {{ cr.job }} -- {{ cr.profile_path }}</p>
          </div>
        </ng-template>
      </mat-tab>-->
    </mat-tab-group>
  </ng-container>
</div>
